body, html {
    height: 100%;
    width: 100%;
}

canvas {
    background: #333;
}


#gameScreen{
    padding-top: 20px;
    background: url(spacebackground.png);
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.settings-part{
    padding: 15px;
}

.titlePart{
    padding: 15px;
    width: 100%;
    background-color: teal;
    color: whitesmoke;
    text-align: center;
}


.nav .nav-item{
    padding: 15px;
}
